* {
    margin: 0;
    padding: 0;
}
p {
    font-family: "Jost", sans-serif;
    font-size: 18px;
}
/* Banner Section */
.banner {
    background: url(images/banner/banner3.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    text-align: right;
    padding: 0 200px;
}
.banner-title {
    font-family: "Poppins", sans-serif;
    padding-top: 250px;
    font-size: 65px;
    font-weight: 600;
    color: #fff;
}
.banner-description {
    color: #fff;
    margin-bottom: 30px;
}
.primary-btn {
    color: blue;
    height: 64px;
    width: 160px;
    border: none;
    border-radius: 3px;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 600;
}

/* failures section */
.failures {
    padding: 100px 200px;
    display: flex;
}
.failures-images {
    width: 50%;
}
.failures-history {
    width: 50%;
    padding: 180px;
}
.failures-title {
    font-size: 45px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: #151414;
    margin-bottom: 25px;
}
.failures-descrpt {
    margin-bottom: 16px;
    color: #444343;
}
.failures-history i {
    margin-bottom: 15px;
    color: #444343;
    font-size: 20px;
    color: greenyellow;
}
.failures-history i span {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: normal;
    color: #444343;
}

/* Plans */
.plan {
    padding: 0 200px;
}
.plan-title {
    font-size: 45px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: #151414;
    margin-bottom: 50px;
    text-align: center;
}
.plans-type {
    display: flex;
    text-align: center;
}
.plans {
    width: 25%;
    margin-bottom: 100px;
}
.plans img {
    margin-bottom: 10px;
}
.plans h4 {
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: #151414;
    margin-bottom: 10px;
    text-align: center;
}
.plans p {
    font-size: 18px;
    color: #444343e2;
    font-weight: 550;
}

/* resume Section */

.resume-container {
    padding: 50px 0px;
    box-sizing: border-box;
    background: rgba(248, 214, 214, 0.144);
    overflow: hidden;
}
.resume-title {
    font-size: 45px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: #151414;
    margin-bottom: 50px;
    text-align: center;
}
.resume {
    display: flex;
    justify-content: center;
    gap: 40px;
}
.resume-content-title {
    margin-bottom: 10px;
    font-weight: normal;
    font-size: 35px;
}
.resume-title span {
    color: #ff651c;
    font-size: 45px;
}
.resume-description {
    padding: 20px 30px;
    justify-content: center;
    height: 145px;
    background: white;
    border-left: 3px solid #ff651c;
    border-radius: 11px;
    box-shadow: 0px 0px 5px rgba(128, 128, 128, 0.739);
    margin-bottom: 20px;
}
.resume-description h2 {
    color: #ff651c;
    margin-bottom: 15px;
    text-align: left;
    font-size: 25px;
    font-family: "Jost", sans-serif;
}
.resume-description h4 {
    margin-bottom: 10px;
    font-size: 18px;
    font-family: "Jost", sans-serif;
}
.resume-description p {
    color: #888;
    font-size: 20px;
}

/* call */
.call-us {
    padding: 150px 300px;
    align-items: center;
}
.call-section {
    background: linear-gradient(to left, rgba(255, 0, 0, 0), rgba(255, 81, 0, 0.934)), url(images/watch.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px;
    border-radius: 5px;
}
.call-section h3 {
    font-size: 35px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: #fff;
    margin-bottom: 20px;
    text-align: left;
}

/* footer */
.footer {
    display: flex;
    padding: 100px 250px;
    background: #151414;
    gap: 100px;
    color: #fff;
}
.footer-section {
    width: 50%;
}
.footer-section h2,
h3 {
    font-size: 45px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
}
.footer-section p {
    margin-bottom: 30px;
}
.social-icon img {
    margin-left: 10px;
}

.input-mail {
    height: 64px;
    width: 50%;
    font-family: "Jost", sans-serif;
    font-weight: 700;
    font-size: 18px;
    padding: 0 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 5px;
    background: transparent;
    border: 2px solid gray;
}
.ftr {
    color: rgb(255, 98, 0);
}